@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
font-family: "Raleway", sans-serif;
background:white;
color:#000000;
}

a {
color:#080808;
text-decoration: none;
} 

ul {
list-style: none;
padding: 0;
margin: 0;
 }   

.header {
 display: flex;
 justify-content: space-between;
 align-items: center;

 }

 .header_list {
 display:flex;
 gap:30px;
 font-size: 18px;
 font-weight: 400;
 margin-left: 50px;
 margin-top: 50px;
}

.header_contact {
display: flex;
flex-direction: column;
font-size: 18px;
margin-left: 300px;
border-width: 1px;


}

.header__nav a { 
font-weight: 400;
font-size: 19px;
}

.header a.active { 
text-decoration: underline;
}


.cover{
background-image: url(/img/flower.png);
color: #FFFFFF;
background-position: center;
background-repeat: no-repeat;
position:relative;
background-size:cover;
height: 757px;
width: 1100px;
}

.cover_title{
display: flex;
flex-direction: column;
font-weight: 700;
font-size: 100px;
line-height: 114.99999999999999%;
letter-spacing: 30%;
text-align: center;
padding-top: 165px;
padding-left: 50px;
padding-right: 50px;
}

span.cover_up{
align-self: flex-start;
}
span.cover_center{
align-self: center;
}
span.cover_down{
align-self: flex-end;
}

.text_auction{
font-weight: 400;
font-size: 22px;
line-height: 28px;
letter-spacing: 90%;
text-transform: uppercase;
}


.pick_me{
width: 256px;
height: 51px;
top: 656px;
left: 794px;
opacity: 1;
border-width: 1px;
font-weight: 500px;
font-size: 22px;
line-height: 100%;
background-color: transparent;
color: #FFFFFF;
border-color: #FFFFFF;
}





.lots_film{
background-image: url(/img/photo.png);
}

.lots_book{
background-image: url(/img/photo2.png);
}

.lots_painting{
background-image: url(/img/photo3.png);
}


.lots_title{
font-weight: 700;
font-size: 40px;
line-height: 100%;
text-transform: uppercase;
padding-left: 67px;
padding-top: 180px;
padding-bottom: 27px;
}

.container_lots {
display: flex;
gap: 25px;
margin-left: 24px;
margin-right: 24px;
justify-content: start;
}

.cards {
width: 334px;
height: 596px;
top: 74px;
}

.card {
display: flex;
flex-direction: column;
justify-content: space-between;
height: 100%;
color: #FFFFFF;

}

.title_cards {
color:#FFFFFF;
font-weight: 700;
font-size: 22px;
line-height: 120%;
text-transform: uppercase;
text-decoration: underline;
text-align: center;
}

.lots.active{
color: #FFFFFF;
font-weight: 400;
font-size: 20px;
line-height: 120%;
}

.more{
font-weight: 400;
font-size: 20px;
line-height: 100%;
text-decoration: underline;
padding-top: 30px;
padding-left: 40px;
display: flex;
}

.about{
margin-top: 120px;
margin-left: 25px;
margin-right: 25px;
}

.container_about{
display: grid;
grid-template-columns:auto 1fr auto;
padding: 24px 24px;
gap: 30px;
}

.about_headline{
display: flex;
flex-direction: column;
gap: 24px;
padding-left: 72px;
padding-top: 98px;
}

.about_title{
font-weight: 700;
font-size: 40px;
line-height: 100%;
}

.logo_about{
justify-self: center;
background-color: #000;
border-radius: 50%;
width: 240px;
height: 240px;
display: flex;
justify-content: center;
align-items: center;

}

.about_text{
font-weight: 400;
font-size: 20px;
line-height: 24px;
align-self: flex-start;

}

.footer {
display: grid;
grid-template-columns: auto 1fr auto;
gap: 100px;
padding: 180px 50px 90px;
}

.logo_footer{
display: flex;
gap: 50px;
width: 240px;
height: 48px;
}
.footer_contact{
text-align: center;
font-size: 18px;
font-weight: 400px;
}

.footer a.active { 
text-decoration: underline;
}


